<div class="ld-project-create-edit">
    <ld-wrapper backBtn="list">

        <form class="left" (submit)="createOrEdit()" [formGroup]="projectForm">

            <h1 class="main-title" id="main-title"> {{dynamicText.title}} </h1>

            <mat-form-field appearance="legacy">
                <mat-label>Título</mat-label>
                <input type="text" matInput formControlName="title">
                <mat-error *ngIf="helpers.isInvalid(projectForm, 'title', 'required')">{{ msg.required }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Custo Total</mat-label>
                <input type="text" matInput formControlName="totalCost" mask="separator.0" thousandSeparator=".">
                <mat-error *ngIf="helpers.isInvalid(projectForm, 'totalCost', 'required')">{{ msg.required }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Descrição</mat-label>
                <textarea type="text" matInput formControlName="description"></textarea>
                <mat-error *ngIf="helpers.isInvalid(projectForm, 'description', 'required')">{{ msg.required }}</mat-error>
            </mat-form-field>

            <ld-button type="submit" class="ld-button" typeBtn="submit" textBtn="{{dynamicText.btn}}"></ld-button>
        </form>
        <div class="right">
            <img class="image" alt="Fundo de decoração com 3 cubos com fundo gradient das cores do arco-iris"
                src="assets/image/bg-float-cubes.png">
        </div>
    </ld-wrapper>
</div>
